body{background: #fff;}
*{margin:0;}
html,body{height:100%;text-align:center;}
.content{min-height:100%;height:auto !important;height:100%;margin:0 auto -4em;}
.content .question{
	color: #666;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 16px;
	vertical-align: bottom;
	margin: 0px;
	height: 16px;
}

.content h1{
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	height: 260px;
	color: #333; background: #fff; text-shadow: 0px 3px 3px #ccc; font-size: 200px; margin: auto;text-align: center;
}

.content p, .content div{
	color: #666;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	height: 24px;
	line-height: 16px;
	margin-bottom: 32px;
	vertical-align: top;
}
.content div.subtitle {height: 21px;}
.content div.subtitle div{ 
	vertical-align: center;
	border: none;
	height: 21px;
	overflow: hidden;
	margin: 0px;
	display:inline-block;
	width: 160px;
	}

.footer,.paragraph{height:4em;}

.footer{
	color: #444;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	height: 24px;
	line-height: 24px;
	margin-top: 72px;
}
.footer a{text-decoration: none;}

.footer a:hover{ text-decoration: underline;}

.footer p.twitter a {color: #666;}

.footer p.twitter strong{
	color: #666;
	display: inline;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	text-align: left;
}
.footer p.fb a{
	color: #3B5998;
	cursor: pointer;
	direction: ltr;
	display: inline;
	font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 16px;
}

table.quote{ margin-top: 72px;}
table.quote{ border: none; width: 100%; background: #F5F5EA; padding: 12px; margin-top: 24px;}
table.quote td.proverb{ text-align: left; font-size: 16px;}
table.quote td.pict{ padding: 0px 12px;}
table.quote td.left{ text-align: right;}
table.quote td.right{ text-align: left; vertical-align: bottom;}
table.quote tr.author td{ padding: 12px; color: #333; font-size: 14px;}