body{background: #fff;}
*{margin:0;}
html,body{height:100%;text-align:center;}
.content{min-height:100%;height:auto !important;height:100%;margin:0 auto -4em;}
.content h1{
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	height: 220px;
	color: #333; background: #fff; text-shadow: 0px 3px 3px #ccc; padding-top:10%; font-size: 200px; margin: auto;text-align: center;}
.content p{
	color: #666;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	height: 24px;
	line-height: 20px;
	margin-bottom: 48px;
	vertical-align: top;
}
.footer,.paragraph{height:4em;}
.footer{
	color: #444;
	display: block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	height: 24px;
	line-height: 24px;
}
.footer a{text-decoration: none; color: #666;}
.footer a:hover{ text-decoration: underline;}
.footer strong{
	color: #666;
	display: inline;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	text-align: left;
}