<div class="content">
	<p class="question">Shall I work now?</p>
	<h1 id="message-header"><script>document.write(message)</script></h1>
	<p>
		<script>document.write(subtitle)</script>
		<iframe src="http://www.facebook.com/plugins/like.php?app_id=202018386508690&amp;href=shalliwork.com&amp;send=false&amp;layout=button_count&amp;width=50&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font=arial&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:21px;" allowTransparency="true"></iframe>
		</p>
	<div class="paragraph"></div>
</div>
<div class="footer">
	<p class="twitter" > Twitter homepage <a href="http://twitter.com/shalliwork"><strong>@ShallIWork</strong></a></p>
	<!-- <p class="fb" ><a href="http://www.facebook.com/pages/Shall-I-Work/207114792660352">However, shall I Work?</a></p> -->
</div> 
 
