<!DOCTYPE html>
<html>
<head>
  <title>ShallIWork</title>
	<meta name="author" content="@mval">
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "colors.js" %>
  <%= csrf_meta_tag %>
	<script>
		var currentTime = new Date();
		var hour = currentTime.getHours()
		if(hour < 3){
			var message = "No"
			var subtitle = "Relax"
		} else if( hour < 7 ) {
			var message = "No"
			var subtitle = "Sleep?"
		} else if( hour >= 7 && hour < 13 ) {
			var message = "Yes"
			var subtitle = "May be coffee?"
		} else if( hour >- 13 && hour < 15) {
			var message = "No"
			var subtitle = "Dinner?"
		} else if( hour >- 15 && hour < 19) {
			var message = "Yes"
			var subtitle = "Do your job"
		} else if( hour >= 19){
			var message = "No"
			var subtitle = "Relax."
		} else {
			var message = "No"
			var subtitle = "What's happening?"
		}
		
		if(message == "No") {
			InitColoredLogotype();
		}
	</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-23498770-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
	<body>

		<%= yield %>

	</body>
	
</html>
